*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body{
  background-color: #deebfe;
}

header{
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

footer{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

a:hover{
  transition: all ease 0.3s;
  color: #3a78ef;
  cursor: pointer;
}

h1:hover{
  transition: all ease 0.5s;
  transform: scale(1.03);
  cursor: pointer;
}

h1{
  color: #3a78ef;
}

button:hover{
  cursor: pointer;
}